.Player {
	position: absolute;
	top: 0;
	left: 0;
	width: 5em;
	height: 5em;
    border-radius: 0.3em 2em 2em 1.5em;
    border-style: outset;
    border-width: 0.1em;
	background: blue;
	transform: translateZ(0);
}

.Player-wings {
	position: absolute;
    top: 2em;
    left: 0.5em;
    width: 2.5em;
    height: 1.2em;
    border-radius: 0.3em 0.3em 0.7em 0.7em;
    border-style: outset;
    border-width: 0.1em;

    background: yellow;
    transform-origin: top left;
    animation: 0.4s flap alternate infinite;
}

@keyframes flap {
    from {
        transform: rotateX(0);
    }
    to {
        transform: rotateX(180deg);
    }
}

.Player-eyes {
    position: absolute;
    top: 1em;
    left: 4em;
    width: 1.4em;
    height: 1.4em;
    border-radius: 0.8em;
    border-style: outset;
    border-width: 0.1em;

    background: white;
}

.Player-eye-pupils {
    position: absolute;
    top: 0.5em;
    left: 0.6em;
    width: 0.7em;
    height: 0.7em;
    border-radius: 0.5em;

    background: black;
}

.Player-beak {
    position: absolute;
    top: 2.5em;
    left: 4.8em;

    border-color: yellow;
	border-top: 0.5em solid transparent;
	border-bottom: 1em solid transparent; 
	
	border-left:1em solid yellow; 
}

.Land {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 20%;
   background-image: url('/images/land.png');
   background-repeat: repeat-x;
   background-position: 0px 0px;
   background-color: #ded895;
   transform: translateZ(0);
   animation: animLand 2516ms linear infinite;
   z-index: 1;
}

@keyframes animLand {
   0% { background-position: 0px 0px; }
   100% { background-position: -335px 0px; }
}

.Sky
{
   position: absolute;
   top: 0;
   width: 100%;
   height: 80%;
   background-image: url('/images/sky.png');
   background-repeat: repeat-x;
   background-position: 0px 100%;
   background-color: #4ec0ca;
   transform: translateZ(0);
   animation: animSky 7s linear infinite;
}

@keyframes animSky {
   0% { background-position: 0px 100%; }
   100% { background-position: -275px 100%; }
}

.Cloud {
	transform-origin: top left;
    animation: cloud-move 10s infinite;
    animation-timing-function: linear;
    position: absolute;
    top: 5em;
    left: 50em;
    width: 8em;
    height: 6em;
    transform: translateZ(0);
    border-radius: 2.5em;
    background: white;
}

@keyframes cloud-move {
    from {transform: translate(75em, 3em);}
    to {transform: translate(-60em, 3em);}
}

.Pipe1-high {
    position: fixed;
    top: 0em;
    height: 20em;
    width: 10em;
 
    background-image: url('/images/tube1.png');
    background-position: bottom;
    background-size: 100% auto;
}

.Pipe1-Low {
    position: fixed;
    top: 35em;
    height: 40em;
    width: 10em;
    z-index: 2;
    background-image: url('/images/tube2.png');
    background-size: cover;
}

.Pipe2-high {
    position: fixed;
    top: 0em;
    height: 23em;
    width: 10em;

    background-image: url('/images/tube1.png');
    background-position: bottom;
    background-size: 100% auto;
}

.Pipe2-Low {
    position: fixed;
    top: 30em;
    height: 40em;
    width: 10em;
    z-index: 2;
    background-image: url('/images/tube2.png');
    background-size: cover;

}

.Pipe3-high {
    position: fixed;
    top: 0em;
    height: 11em;
    width: 10em;
    z-index: 2;
    background-image: url('/images/tube1.png');
    background-position: bottom;
    background-size: 100% auto;
}

.Pipe3-Low {
    position: fixed;
    top: 30em;
    height: 40em;
    width: 10em;
    z-index: 2;
    background-image: url('/images/tube2.png');
    background-size: cover;
}

.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background: purple;
	text-align: center;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.Scoreboard-restart {
	margin-top: 20em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}

.Scoreboard-restartText {
font-family: 'Comic Sans MS', serif;
font-size: 2.4em;
color: white;
}

body {
background: black;
}

.browsehappy {
margin: 0.2em 0;
background: ?#?ccc?;
color: #000;
padding: 0.2em 0;
}

.GameCanvas {
font-size: 10px;
position: absolute;
left: 50%;
top: 50%;
width: 102.4em;
height: 57.6em;
margin-left: -51.2em;
margin-top: -28.8em;
overflow: hidden;
background: red;
}